body {
    background-color: #dcdcdc;
    color: #c29b9b;
    font-size: 1.1em;
}

.navbar {
    background-color: beige;
    top: 0px; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 80px;
    padding: 0;
    z-index: 100;
  }

.menu-box {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    line-height: 80px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
  }

.menu-box a {
    display: inline-block;
    height: 100%;
    text-decoration: none;
    font-size: 20px;
    font-weight: 200;
    padding: 0px 20px 0px 20px;
    font-family: Roboto;
    font-style: normal;
    color: white;
  }

  /* Change background on mouse-over */
  .menu-box a:hover {
    background: darkgrey;
    color: whitesmoke;
  }