body {
    background-color: #dcdcdc;
    color: #c29b9b;
    font-size: 1.1em;
}

.navbar {
    background-color: beige;
    position: fixed; /* Set the navbar to fixed position */
    top: 0px; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 80px;
    padding: 0;
    z-index: 100;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: darkgrey;
    color: whitesmoke;
  }