body {
    background-color: #c2c2c2;
    color: #c29b9b;
    font-size: 1.1em;
    margin: 0;
}

.navbar {
    position: relative;
    background-color: whitesmoke;
    top: 0px; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 40px;
    padding: 0;
    z-index: 100;
  }

.menu-box {
    position: absolute;
    overflow: hidden;
    right: 0px;
    top: 0px;
    height: 100%;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
  }

.menu-box a {
    display: inline-block;
    height: 100%;
    text-decoration: none;
    font-size: 20px;
    font-weight: 200;
    padding: 0px 10px 0px 10px;
    font-family: Garamond;
    font-style: normal;
    color: #a98787;
  }

  /* Change background on mouse-over */
  .menu-box a:hover {
    color: #c2c2c2;
  }
